{% extends 'fspru/wrapper.html' %}
{% load static %}

{% block title %}мои соревнования{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark header-bar">
  <div class="container-fluid">
    <a class="navbar-brand header_logo" href="{% url 'fspru:index' %}">
    	<img src="{% static 'fspru/img/header_logo.png' %}" class=header_logo_img>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'fspru:index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fspru:contests' %}">Соревнования</a>
        </li>
        <!-- <li class="nav-item"> -->
          <!-- <a class="nav-link" href="{% url 'fspru:login_index' %}">Личный кабинет</a> -->
        <!-- </li> -->
      {% if request.session.is_auth %}
      </ul>
      <div class="flex-shrink-0 dropdown">
	  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ededed;">
	  	<div class="user-logo">
	  		<span>{{ request.session.user.first_letter }}</span>
	  	</div>
	    <!-- <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle"> -->
	  </a>
	  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="margin-left: -110px;">
	  	<li><span class="dropdown-item">{{ request.session.user.name }}</span></li>
	    <li><a class="dropdown-item" href="{% url 'fspru:user_contests' %}">Мои соревнования</a></li>
	    <li><hr class="dropdown-divider"></li>
	    <li><a class="dropdown-item" href="{% url 'fspru:logout' %}">Выйти</a></li>
	  </ul>
	</div>
	{% else %}
	<li class="nav-item"><a class="nav-link" href="{% url 'fspru:login_index' %}">Личный кабинет</a></li>
	</ul>
	{% endif %}
    </div>
  </div>
</nav>

<section class="header-russia">
	<div class="container-main">
		<h1 class="main-title">Федерация <br> спортивного <br> программирования</h1>
	</div>
</section>
<section class="contests-section container">
	<div class="container">
		<div class="section-head">
			<ul class="list-unstyled row">
				<li class="col-md"><h4 align="center">[Учетные данные]</h4></li>
				<!-- <a href="{% url 'fspru:contests' %}" class="col-md" style="text-align: right;"><Все события></a> -->
			</ul>
		</div>
	</div>
</section>


<section class="upcoming_contests container" style="width: 27rem;">
		<form action="{% url 'fspru:registration_index' %}" method="POST">
			{% csrf_token %}

			<div class="form-outline mb-3 form-floating">
				{{ form.first_name }}
				<label class="form-label" for="form_first_name">Имя</label>
			</div>

			<div class="form-outline mb-3 form-floating">
				{{ form.second_name }}
				<label class="form-label" for="form_second_name">Фамилия</label>
			</div>

		  <!-- Email input -->
		  <div class="form-outline mb-3 form-floating">
		  	{{ form.login_email }}
		    <!-- <input type="email" id="form-email" class="form-control" placeholder="email"> -->
		    <label class="form-label" for="form_login_email">Email-адрес</label>
		  </div>

		  <div class="mb-3 form-floating">
		  <select class="form-select" aria-label="Default select example" id="form-role" name="status">
				<option selected value="1">Спортсмен</option>
				<option value="2">Администратор</option>
				<option value="3">Партнёр</option>
				<option value="4">Региональный</option>
			</select>
			<label class="form-label" for="form_status">Роль</label>
		  </div>

		  <div class="form-outline mb-3 form-floating">
		  	{{form.phone}}
		  	<label class="form-label" for="form_phone">Телефон</label>
		 	</div>

		  <div class="form-outline mb-3 form-floating">
		  	{{ form.password }}
		    <!-- <input type="password" id="form-password" class="form-control" placeholder="пароль"> -->
		    <label class="form-label" for="form_password">Пароль</label>
		  </div>

		  

		  {% if msg %}
		  <div class="form-outline form-floating mb-1">
		  	{{ msg }}
		  </div>
		  {% endif %}

		  <button type="submit" class="btn btn-primary btn-block mb-3" style="width: 100%;">Сохранить</button>
	</form>
</section>
{% endblock %}